/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* typography */
h1{
    font-size: 36px;
}
h2{
    font-size: 24px;
}
p{
    font-size: 14px;
}

/* Globals sector */
*,
*::before,
*::after{
box-sizing: border-box;
}

body{
    font: 600 12px/1.5 sans-serif;
    color: rgba(245, 245, 245, 0.671);
    background-color: hsl(225,17%,14%);
}
.container{
        width: 80%;
        margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.flex{
    display: flex;
}
.content-justify{
    justify-content: space-between;
}
.box{
    width: 23%;
    padding: 30px;
    background-color: hsl(228,29%,20%);
    text-align: center;
    margin: 20px;

 }

 
.fab{
    font-size: 30px;
}
.content-center{
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 15px;
}
.username{
    padding: 5px;
}

.count{
    padding: 20px;
}
.light{
    font-weight: 100;
    opacity: .7;
}
/* social */
.facebook{
    border-top: 5px solid red;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.twitter{
    border-top: 5px solid red;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
}
.instagram {
    border-top: 5px solid red;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
} 

.youtube{
    border-top: 5px solid red;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 

}

/* social icon */
.fb i{
    color: blue;
}
.twi i{
    color: blue;
}
.insta {
    color: rgb(225,120,125)

}
.utube i{
    color: rgb(225,120,45)
}